@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  color: text-base;
  height: 200vh;
}

button {
  // default configuration
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  letter-spacing: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
}
